---
import Section from "@/components/Section.astro";

import { work } from "@cv";
import Skills from "./Skills.astro";
---

<Section title="Experiencia Profesional">
  <ul>
    {
      work.map((job) => {
        const { name, position, summary, startDate, endDate, skillExperiencie, url } = job;
        

        return (
          <li class="mb-3">
            <article>
              <header class="flex flexrow justify-between justify-items-center mb-1">
                <div class="flex flex-col">
                  <h3 class="text-l font-bold">
                    <a href=`${url}` target="_blank">{name}</a>
                  </h3>
                  <h4 class="text-m font-bold">{position}</h4>
                </div>
                <time class="text-sm font-bold">
                  {startDate} - {endDate}
                </time>
              </header>
              <footer>
                <ul class="list-inside list-disc">
                    {summary.map((item) => (
                      <li class="mx-2 text-pretty">{item}</li>
                    ))}
                    <li class="mx-2 text-pretty">
                      <span class="text-pretty font-bold">Skills:</span>
                      {
                        skillExperiencie && skillExperiencie.map((skill: string, index: number) => (
                          <span class="text-pretty">{skill}</span><span>{index !== skillExperiencie.length - 1 ? ', ' : '.'}</span>
                        ))
                      }
                    </li>
                  </ul>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
