---
import Section from "@/components/Section.astro";

import { work } from "@cv";
---

<Section title="Experiencia Profesional">
  <ul>
    {
      work.map((job) => {
        const { name, position, summary, startDate, endDate } = job;

        return (
          <li class="mb-3">
            <article>
              <header class="flex flexrow justify-between justify-items-center mb-1">
                <div class="flex flex-col">
                  <h3 class="text-l font-bold">{name}</h3>
                  <h4 class="text-m font-bold">{position}</h4>
                </div>
                <time class="text-sm font-bold">
                  {startDate} - {endDate}
                </time>
              </header>
              <footer>
                <p>{summary}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
